
img{
    max-width: 8%;
    height:auto ;
}

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    }
.img-wt-logo{
    width: 2rem;
    height: 3rem;
    margin-right: 0rem;
    padding-right: 0rem;

}
/* 
.maintext {
    background-image: url ="https://www.cdn.printed.com/uploads/assets/2025/05/20/ct-604-header-flat-foil.webp?1747757667";
    background-size: cover;
    background-position: center;
    
} */
.carousel- {
    width: 10%;
    height: auto;
    
}
.carousel-item img {
    width: 50%;
    height: 30%;
} 
.single-product div.product {
    position: relative;
    overflow: hidden;
}

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    }
/* 
table th {
   text-align: center; 
   
} */

.table {
   margin: auto ;
   width: 80% !important; 
    margin-right: 20px;
    margin-left: 60px;
}
.table-heading {
    text-align: center;
    margin-bottom: 20px;
}
.ul-size {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}
/* login page */
.gradient-custom-2 {

  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(102,126,234,0.5), rgba(118,75,162,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(102,126,234,0.5), rgba(118,75,162,0.5))
  }