img{
    max-width: 80%;
    height:auto ;
}

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    }
.img-wt-logo{
    width: 2rem;
    height: 3rem;
}
/* 
.maintext {
    background-image: url ="https://www.cdn.printed.com/uploads/assets/2025/05/20/ct-604-header-flat-foil.webp?1747757667";
    background-size: cover;
    background-position: center;
    
} */
.carousel- {
    width: 100%;
    height: auto;
    
}